.idea/deployment.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/*
/nbproject/private/
config/autoload/development.php
config/autoload/gerador.php
config/autoload/global.php
nbproject/*
data/cache/*
public/assets/cache/*
vendor/
composer.phar
php_errors.log