/*================================================================================
  Item Name: Kode
  Description: Premium Bootstrap Admin Template
  Author: Egemen Kapusuz
  Author URL: http://www.themeforest.net/user/egemem
================================================================================*/

/* Color Class */
.color1 {
  color: #37363e;
}
.color2 {
  color: #58666e;
}
.color3 {
  color: #e4e4e4;
}
.color4 {
  color: #f5f5f5;
}
.color5 {
  color: #399bff;
}
.color6 {
  color: #33577b;
}
.color7 {
  color: #26a65b;
}
.color8 {
  color: #51b7a3;
}
.color9 {
  color: #f39c12;
}
.color10 {
  color: #ef4836;
}
.color11 {
  color: #9a80b9;
}
.color12 {
  color: #a2ded0;
}
.color13 {
  color: #d2527f;
}
.color14 {
  color: #c78568;
}
.color15 {
  color: #e99844;
}
/* Color Class Background */
.color0-bg {
  background: #3d464d;
}
.color1-bg {
  background: #37363e;
}
.color2-bg {
  background: #58666e;
}
.color3-bg {
  background: #e4e4e4;
}
.color4-bg {
  background: #f5f5f5;
}
.color5-bg {
  background: #399bff;
}
.color6-bg {
  background: #33577b;
}
.color7-bg {
  background: #26a65b;
}
.color8-bg {
  background: #51b7a3;
}
.color9-bg {
  background: #f39c12;
}
.color10-bg {
  background: #ef4836;
}
.color11-bg {
  background: #9a80b9;
}
.color12-bg {
  background: #a2ded0;
}
.color13-bg {
  background: #d2527f;
}
.color14-bg {
  background: #c78568;
}
.color15-bg {
  background: #e99844;
}
/* Up - Down */
.color-up {
  color: #26a65b;
}
.color-down {
  color: #ef4836;
}
.color-fix {
  color: #399bff;
}
/* Grid Normal */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 15px;
  padding-left: 15px;
}

/* Kode Alert */
.kode-alert {
  color: #fff;
  position: relative;
  border-radius: 3px;
  text-align: left;
  margin-bottom: 10px;
  padding: 12px;
  padding-right: 30px;
}
.kode-alert a {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}
.kode-alert h4 {
  font-size: 14px;
  margin: 0;
  color: inherit;
  font-weight: 600;
  line-height: normal;
}
.kode-alert .img {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 3px;
  left: 12px;
  top: 12px;
}
.kode-alert-img {
  padding-left: 65px;
  min-height: 64px;
}
.kode-alert-icon {
  padding-left: 40px;
}
.kode-alert-icon .fa {
  display: block;
  width: 20px;
  text-align: center;
  position: absolute;
  font-size: 15px;
  left: 12px;
  top: 17px;
}
.kode-alert .closed {
  position: absolute;
  right: 3px;
  text-decoration: none;
  font-weight: bold;
  top: 0px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding: 4px;
}
.kode-alert .closed:hover {
  color: #fff;
}
.kode-alert-click {
  cursor: pointer;
  padding-right: 12px;
}
.kode-alert .primary {
  outline: 0;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: inherit;
  border-radius: 3px;
  padding: 4px 10px;
}
.kode-alert .cancel {
  outline: 0;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 4px 10px;
}
.kode-alert .primary:hover,
.kode-alert .cancel:hover {
  opacity: 0.9;
}
.kode-alert-top,
.kode-alert-bottom,
.kode-alert-top-left,
.kode-alert-top-right,
.kode-alert-bottom-left,
.kode-alert-bottom-right,
.kode-alert-fullscreen {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: none;
  z-index: 1000;
}
.kode-alert-top {
  top: 0;
  left: 0;
  right: 0;
}
.kode-alert-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.kode-alert-top-left {
  top: 80px;
  left: 20px;
}
.kode-alert-top-right {
  top: 80px;
  right: 20px;
}
.kode-alert-bottom-left {
  bottom: 20px;
  left: 20px;
}
.kode-alert-bottom-right {
  bottom: 20px;
  right: 20px;
}
.kode-alert-fullsize {
  top: 50%;
  left: 50%;
  margin: -20px;
}
.alert1 {
  background: #399bff;
}
.alert2 {
  background: #33577b;
}
.alert3 {
  background: #26a65b;
}
.alert4 {
  background: #51b7a3;
}
.alert5 {
  background: #f39c12;
}
.alert6 {
  background: #ef4836;
}
.alert7 {
  background: #9a80b9;
}
.alert8 {
  background: #a2ded0;
  color: #444;
}
.alert8 .closed {
  color: inherit;
}
.alert8 a:hover.closed {
  color: inherit;
}
.alert9 {
  background: #d2527f;
}
.alert10 {
  background: #c78568;
}
.alert11 {
  background: #e99844;
}
.alert1-light {
  background: #d2e8ff;
  color: #00356c;
}
.alert2-light {
  background: #7ea3c9;
  color: #152433;
}
.alert3-light {
  background: #83e3aa;
  color: #13532e;
}
.alert4-light {
  background: #bde4dc;
  color: #2f7365;
}
.alert5-light {
  background: #fad9a4;
  color: #976008;
}
.alert6-light {
  background: #fac9c4;
  color: #b11e0e;
}
.alert7-light {
  background: #e8e3ef;
  color: #674b88;
}
.alert8-light {
  background: #edf9f6;
  color: #2f8571;
}
.alert9-light {
  background: #f2cbd9;
  color: #97274e;
}
.alert10-light {
  background: #f0dfd8;
  color: #935336;
}
.alert11-light {
  background: #f9e3cd;
  color: #b26515;
}
.alert1-light .closed,
.alert2-light .closed,
.alert3-light .closed,
.alert4-light .closed,
.alert5-light .closed,
.alert6-light .closed,
.alert7-light .closed,
.alert8-light .closed,
.alert9-light .closed,
.alert10-light .closed,
.alert11-light .closed {
  color: inherit;
  opacity: 0.6;
}
.alert1-light .closed:hover {
  color: inherit;
  opacity: 0.8;
}

/* =================================================================================
Top Stats
================================================================================= */
.topstats {
  background: #fff;
  padding: 0;
  color: #76747A;
  position: relative;
  font-size: 12px;
  border-radius: 3px;
  margin-left: -5px;
  margin-right: -5px;
  text-shadow: none;
  padding: 12px 0;
}
.topstats li {
  display: block;
  text-align: center;
  margin: 10px 0;
}
.topstats .title {
  color: #37363e;
  font-weight: 600;
  font-size: 13px;
}
.topstats .title .fa {
  font-size: 15px;
  color: #000;
  margin-right: 4px;
  opacity: 0.4;
}
.topstats h3 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  line-height: normal;
  margin: 1px 0;
}
.topstats h3 small {
  color: #37363e;
}
.topstats .diff b {
  font-weight: bold;
}
.topstats .diff .fa {
  margin-right: 2px;
}
.topstats .arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: -18px;
  right: 5px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}

